body {
   font-family: 'Roboto', sans-serif;
   font-style: italic; /* Initial/default: normal */
   font-variant: small-caps; /* Initial/default: normal */
   font-weight: 700; /* Initial/default: 400 */
}
