body {
   font-style: italic; /* Initial/default: normal */
   font-variant: small-caps; /* Initial/default: normal */
   font-weight: 700; /* Initial/default: 400 */
   font-size: 1.2rem; /* Initial/default: 16px or 1em; */
   line-height: 1.4; /* Initial/default: normal, or about 1.2 */
}
